
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <h1>You logged in successfully ................</h1>
        <h2><b>Welcome to in this site......</b></h2>
    </div>
</body>
</html>
